{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acceuil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1eb8199e49.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href=" {% static 'css/styles.css' %} ">
</head>

<body>
    <header>
        <div class="container-fluid header">
            <div class="d-flex align_items_center justify-content-center">
                <div>
                    <p class="nom">Abdou Abarchi Aboubacar</p>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            {% for post in posts %}
            <div class="container exemple shadow-lg">
                <div class="container">
                    <div class="d-flex align_items_center justify-content-center">
                        <h3 class="title d-inline">{{post.title|upper}}</h3>
                    </div>
                </div>
                <p class="body"> {{post.body}} </p>
                <p class="time"> <time datetime=" {{ post.create_at|date:'Y-m-d' }} "> Posté il y'a
                        {{ post.create_at|timesince }}
                    </time> </p>
                <div class="d-flex align_items_center justify-content-center">
                    <a href="https://{{post.url}}" class="btn btn-primary" role="button">Voir L'exemple</a>
                </div>
            </div>
            {% empty %}
            <p>Sorry, no post available</p>
            {% endfor %}
        </div>
    </main>
    <footer class="footer mt-5">
        <div class="container">
            <div class="d-flex align_items_center justify-content-center">
                <div>
                    <p class="namf"> &copy; {% now 'Y' %} AbAbAb &middot;</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
